.input_contain {
    display: flex;
    flex-direction: column;
    padding: 200px 0px;
}

.input {
    padding: 8px 70px 8px 8px;
    width: 400px;
    margin: 5px auto;
    font-size: 1.1em;
    color: #2B3A42;
   
}

.input_button {
    background-color: #3F5765;
    color: #EFEFEF;
    border-radius: 5%;
    padding: 8px 20px;
    width: 13
    0px;
    margin: 20px auto;
    font-size: 1.3em;
}

.radio {
    color: #2B3A42;
    margin: auto;
    padding: 20px 0px;
}