.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #BDD4DE;
}

button {
  background-color: #3F5765;
  color: #EFEFEF;
  border-radius: 10%;
  padding: 5px 10px;
}

Link, h2 {
  color: #EFEFEF;
}

