.nav {
    background-color: #2B3A42;
    height: 50px;
    color: #EFEFEF;
    padding: 0px;
    border: 0px;
    margin: 0px;
    
}
.nav h2 {
    color: #EFEFEF;
}
Link {
    color: #EFEFEF;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  .nav_text {
    color: #BDD4DE;
    padding: 4px 30px;
    margin: 20px 4px;
    font-family: Trebuchet ms;
    text-decoration: none;
}