.nav {
    background-color: #2B3A42;
    height: 65px;
    color: #EFEFEF;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .nav_text {
    color: #EFEFEF;
    padding: 4px 0px;
    margin: 10px 0px;
    font-family: Trebuchet ms;
    text-decoration: none;
    
}
.welcome_text {
    color: #2B3A42;
    padding: 4px 0px 10px 0px;
    margin: auto;
    font-family: Trebuchet ms;
    text-decoration: none;
    font-size: 4.5em;
    font-weight: bold;
    
}
.welcome_contain {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
}